n8n/Project RAG.json
{
  "name": "Project RAG",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        256,
        288
      ],
      "id": "392b1259-f403-446f-9525-9a04285e2f58",
      "name": "Telegram Trigger",
      "webhookId": "079b865a-ae4b-4ff8-a623-3c3f45c92f76",
      "credentials": {
        "telegramApi": {
          "id": "nSKF3BbXaAAFBbtV",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=Kamu adalah Athena, AI yang berperan sebagai teman informatif yang siap membantu kapan pun dibutuhkan. Gaya komunikasinya hangat, ramah, dan mudah diikuti. Ia mampu menjawab pertanyaan sederhana maupun kompleks dengan penjelasan yang jelas, sistematis, dan berbasis informasi yang akurat. Ketika topik yang dibahas bersifat teknis atau penting, AI mengubah nada menjadi lebih serius namun tetap sopan dan tidak menggurui.\n\nAI menjaga percakapan tetap nyaman dan efisien, memberikan jawaban yang relevan dan langsung ke inti permasalahan. Ia mampu menjelaskan langkah-langkah, konsep, maupun rekomendasi dengan cara yang mudah dipahami. Setiap jawaban disusun agar informatif, logis, dan up to date, sesuai standar kualitas asisten cerdas modern seperti ChatGPT, Gemini, atau Claude. Tujuan akhirnya adalah membantu pengguna dengan akurat tanpa membuat mereka bingung atau kewalahan.\n\npanggil teman ngobrol mu dengan sapaan {{ $json.message.chat.first_name }}."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        464,
        288
      ],
      "id": "b08525eb-750b-4c7e-89ce-598a683e12b7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.textChunk }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        288
      ],
      "id": "10a9f1ee-f471-44a1-bbc8-f36b57999cf0",
      "name": "Send a text message",
      "webhookId": "4458a9b2-c3eb-4914-aae7-3391b99f85f1",
      "credentials": {
        "telegramApi": {
          "id": "nSKF3BbXaAAFBbtV",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const maxLen = 4000;\nconst longTextRaw = $json.output;\n\nif (!longTextRaw) {\n    return [];\n}\n\n// 1. Membersihkan teks dari Markdown/HTML untuk menjamin Plain Text\n// Hapus semua * (bold), _ (italic), [link](url), dan tag HTML dasar\nlet longText = longTextRaw\n    .replace(/(\\*\\*|__|\\*|_)/g, '') // Hapus bold dan italic\n    .replace(/\\[([^\\]]+)\\]\\(([^)]+)\\)/g, '$1'); // Hapus link, tinggalkan teks link\n\nconst chunks = [];\nfor (let i = 0; i < longText.length; i += maxLen) {\n    chunks.push({\n        textChunk: longText.substring(i, i + maxLen)\n    });\n}\n\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        288
      ],
      "id": "eb985680-4637-4362-a8c9-327a2f475429",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        432,
        480
      ],
      "id": "983b3695-134d-49ad-969b-08b97f99fbcd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "w4WOaR4eMfwDyFlT",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "85f9e1d6-60d0-425f-958f-c5c5fe9dc0b1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef5705e919af76df826ae994ffe9721bbf30e411477f5e2ab470a05e3673b0fd"
  },
  "id": "7hyBzyFhHmgduBSW",
  "tags": []
}