Workflow 123/Project RAG W123.json
{
  "name": "Project RAG W123",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('MergeLogic').first().json.content }}",
        "options": {
          "systemMessage": "=Kamu adalah Athena, AI informatif yang ramah, jelas, dan efisien.\n\nKamu mampu menjawab pertanyaan berdasarkan:\n- Pesan pengguna saat ini\n- Riwayat percakapan (conversation memories)\n- Konteks aktif yang sudah pernah disebutkan sebelumnya\n\n────────────────────────────────\nATURAN KONTEKS (WAJIB)\n────────────────────────────────\n1. Jika pengguna TIDAK menyebutkan KONTEKS pada pertanyaan saat ini,\n   MAKA gunakan KONTEKS terakhir yang ada di riwayat percakapan.\n2. Jika KONTEKS terakhir sudah ada, JANGAN menanyakan ulang KONTEKS.\n3. HANYA tanyakan KONTEKS jika:\n   - Tidak ada KONTEKS sama sekali di riwayat, DAN\n   - Pengguna belum pernah menyebutkan KONTEKS.\n4. Setelah memberikan jawaban, BOLEH menawarkan opsi:\n   “Jika ingin cek KONTEKS lain, beri tahu saya.”\n\n────────────────────────────────\nATURAN JAWABAN\n────────────────────────────────\n- Jawab langsung ke inti pertanyaan\n- Gunakan bahasa Indonesia yang natural\n- Jangan defensif atau ragu jika konteks sudah jelas\n- Jangan mengulang pertanyaan yang sudah terjawab oleh histori\n\n────────────────────────────────\nMEMORIES (SUMBER FAKTA)\n────────────────────────────────\nBerikut adalah fakta terakhir yang tersimpan dari pengguna:\n{{ $('Aggregate').item.json.ConversationMemories || 'Belum ada riwayat percakapan sebelumnya.' }}\n\n────────────────────────────────\nWAKTU & KONTEKS\n────────────────────────────────\nTanggal & waktu saat ini: {{ $now.format('cccc, d MMMM yyyy, HH:mm') }} WIB  \nNegara pengguna: Indonesia\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        992,
        -352
      ],
      "id": "93ce1f69-a319-431c-95ea-60e0bb5d7bdc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        880,
        -96
      ],
      "id": "92d7fb6c-e08d-47a8-84e0-3fa141c6ba58",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "C23JRXOwh0WEMPn5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1VZBoekSfK45UeuAHL4s_O_sim-vXXYRs",
          "mode": "list",
          "cachedResultName": "Project RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1VZBoekSfK45UeuAHL4s_O_sim-vXXYRs"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        128,
        -80
      ],
      "id": "d9f49057-aea6-4ad6-b345-19605ccc58f1",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MDXuwZ156Qz0lfoX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        288,
        -80
      ],
      "id": "4051b3b4-552b-4b5c-87b6-fb54ce3cad25",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MDXuwZ156Qz0lfoX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "project-rag",
          "mode": "list",
          "cachedResultName": "project-rag"
        },
        "options": {
          "pineconeNamespace": "project-rag"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        464,
        -80
      ],
      "id": "b763e4fc-1a48-4cda-80be-fa80c03b52f2",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "hyAafpB2uxTcLFbV",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        384,
        96
      ],
      "id": "2ded0a4f-a6e9-422e-b352-6e3af7e6ae4f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "C23JRXOwh0WEMPn5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        512,
        96
      ],
      "id": "ef3def9d-d372-406e-a947-ed45ad12be27",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        592,
        224
      ],
      "id": "036a2047-1c25-410d-8b60-056e5935d604",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "description": "=Use this tool to answer user question"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        992,
        -96
      ],
      "id": "c3e8df1c-3753-4111-8861-e2a087623c58",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1440,
        -272
      ],
      "id": "ac76da2b-ae0c-4d7c-81e4-68d6a4a6f790",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fd301844-9511-46c9-87c0-5ceb9d51b42b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        32,
        -272
      ],
      "id": "7ffda756-0b52-4b0d-815c-4f20592593a8",
      "name": "Webhook",
      "webhookId": "fd301844-9511-46c9-87c0-5ceb9d51b42b"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "messages",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "conversation_id",
              "condition": "eq",
              "keyValue": "={{ $json.conversation_id }}"
            },
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        352,
        -352
      ],
      "id": "917ab32c-80c8-4e14-8e5e-f50b74de1a35",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "CcPy8Eobpgu0SJZL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "ConversationMemories",
        "include": "specifiedFields",
        "fieldsToInclude": "content, created_at",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        512,
        -352
      ],
      "id": "f3bcdd5a-b3aa-4442-b651-b49edddce5e7",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "content": "Pinecone database (get GDrive)",
        "height": 496,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        -128
      ],
      "typeVersion": 1,
      "id": "3bdb2c50-7e3f-43c1-8263-c9cc0951abef",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        32,
        -432
      ],
      "id": "e3160831-2c7e-4aee-9ab7-0746f2c96c8f",
      "name": "Telegram Trigger",
      "webhookId": "a012235d-3752-4432-a2d9-26ab04003735",
      "credentials": {
        "telegramApi": {
          "id": "8q0DAOxUkKpikKTw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Ambil data history dari output node Supabase/Aggregate (jika ada)\nconst history = $json.content; \n\n// 2. Ambil data input user saat ini dari node \"Normalize\"\n// PENTING: Kita GANTI $('Webhook') menjadi $('Normalize')\n// Alasannya: Node Normalize pasti aktif, sedangkan Webhook tidak aktif jika pakai Telegram.\nconst incomingData = $('Normalize').first().json;\n\n// Extract variabel dari Normalize (nama variabel sesuaikan dengan output node Normalize kamu)\nconst incomingMessage = incomingData.content;\nconst incomingTimestamp = incomingData.created_at; \nconst incomingConversationId = incomingData.conversation_id;\nconst incomingUserId = incomingData.user_id;\nconst incomingRole = incomingData.role;\nconst incomingPlatform = incomingData.platform; // Penting untuk IF node nanti\n\n// 3. Logika Penggabungan\nif (history) {\n  // KASUS 1: Ada History Chat (User lama)\n  return {\n    // Gabungkan history + pesan baru\n    content: `History:\\n${history}\\n\\nUser: ${incomingMessage}`,\n    created_at: incomingTimestamp,\n    \n    // Teruskan data identitas & platform\n    conversation_id: incomingConversationId,\n    user_id: incomingUserId,\n    role: incomingRole,\n    platform: incomingPlatform\n  };\n} else {\n  // KASUS 2: Chat Baru / History Kosong\n  return {\n    // Kirim pesan baru saja\n    content: incomingMessage,\n    created_at: incomingTimestamp,\n    \n    // Teruskan data identitas & platform\n    conversation_id: incomingConversationId,\n    user_id: incomingUserId,\n    role: incomingRole,\n    platform: incomingPlatform\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -352
      ],
      "id": "1db1c40d-4c96-419f-810f-83440bfc4844",
      "name": "MergeLogic"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ==========================================\n// CONFIG: Deteksi Sumber Pesan\n// ==========================================\nconst isTelegram = $json.message ? true : false;\n\n// ==========================================\n// FUNGSI BANTUAN: Paksa jadi UUID\n// ==========================================\n// Supabase menolak angka biasa jika kolomnya tipe UUID.\n// Fungsi ini mengubah ID Telegram (angka) menjadi format UUID palsu yang valid.\nfunction makeUUID(id) {\n  const str = String(id);\n  // Cek apakah ini sudah UUID beneran (dari Webapp)? (Ciri: ada tanda strip '-')\n  if (str.includes('-')) return str;\n  \n  // Jika ini angka (dari Telegram), kita padding jadi format UUID\n  // Contoh: 7004391966 -> 00000000-0000-0000-0000-007004391966\n  return '00000000-0000-0000-0000-' + str.padStart(12, '0');\n}\n\n// ==========================================\n// LOGIC: Normalisasi Data\n// ==========================================\nreturn {\n  // 1. Role\n  role: isTelegram ? \"telegram\" : \"webapp\",\n\n  // 2. Content\n  content: (isTelegram ? $json.message?.text : $json.body?.message) || \"\",\n\n  // 3. User ID (Pakai fungsi makeUUID biar Supabase tidak error)\n  user_id: makeUUID(\n    isTelegram \n      ? $json.message?.from?.id \n      : ($json.body?.userId || \"unknown_user\")\n  ),\n\n  // 4. Conversation ID (Pakai fungsi makeUUID biar Supabase tidak error)\n  conversation_id: makeUUID(\n    isTelegram \n      ? $json.message?.chat?.id \n      : ($json.body?.conversationId || \"unknown_chat\")\n  ),\n\n  // 5. Created At\n  created_at: isTelegram \n    ? new Date(($json.message?.date || Date.now() / 1000) * 1000).toISOString() \n    : ($json.body?.timestamp || new Date().toISOString())\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -352
      ],
      "id": "1ae2f8b3-5127-4d9d-9c2a-dc6a08ab810b",
      "name": "Normalize"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dab15d9d-70cb-48cd-a9d4-3cedd274627a",
              "leftValue": "={{ $('Normalize').first().json.role }}",
              "rightValue": "telegram",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        -352
      ],
      "id": "928fc68a-145f-4105-a33b-9dc23d6d359f",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $('AI Agent').first().json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        -432
      ],
      "id": "7bfc7617-5bae-4e22-998b-c6f7f42011a6",
      "name": "Send a text message",
      "webhookId": "59ded9ed-5c6d-4e34-b45e-2c50294d55d0",
      "credentials": {
        "telegramApi": {
          "id": "8q0DAOxUkKpikKTw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "conversations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ $('MergeLogic').first().json.conversation_id }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('MergeLogic').first().json.user_id }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $('MergeLogic').first().json.content.substring(0, 50) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        -352
      ],
      "id": "bec74d5e-374e-4c3d-9063-59c2a9014c27",
      "name": "Register Conversation",
      "credentials": {
        "supabaseApi": {
          "id": "CcPy8Eobpgu0SJZL",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "q": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "locationSettings": {},
        "languageSettings": {},
        "searchOptions": {},
        "timeFilters": {},
        "pagination": {},
        "advancedOptions": {},
        "requestOptions": {}
      },
      "type": "@searchapi/n8n-nodes-searchapi.searchApiTool",
      "typeVersion": 1,
      "position": [
        1248,
        -96
      ],
      "id": "49e21907-62d2-456b-8e71-59cbcb8de645",
      "name": "SearchApi",
      "credentials": {
        "searchApi": {
          "id": "asoZgKod5b4GFod7",
          "name": "SearchApi account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $('Normalize').first().json.conversation_id }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Normalize').first().json.user_id }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('Normalize').first().json.content }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "={{ $('Normalize').first().json.role }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        880,
        64
      ],
      "id": "7dd981ea-a7cd-4f09-9403-41edefd23837",
      "name": "Save Conversation",
      "credentials": {
        "supabaseApi": {
          "id": "CcPy8Eobpgu0SJZL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1376,
        -96
      ],
      "id": "0679fd29-68d8-476b-90e6-2a8e2139e0f2",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        1376,
        64
      ],
      "id": "7575cb1b-c108-4fd5-90f8-5c7baee7820e",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1248,
        64
      ],
      "id": "226fac08-75c0-4d4b-a1a5-17b08ab9eb06",
      "name": "OpenAI Chat Model Agent",
      "credentials": {
        "openAiApi": {
          "id": "C23JRXOwh0WEMPn5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1072,
        192
      ],
      "id": "06dd0600-bdf1-44e6-96c2-d161f0a7acbd",
      "name": "Embeddings OpenAI Agent",
      "credentials": {
        "openAiApi": {
          "id": "C23JRXOwh0WEMPn5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "project-rag",
          "mode": "list",
          "cachedResultName": "project-rag"
        },
        "options": {
          "pineconeNamespace": " project-rag"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        992,
        64
      ],
      "id": "e77572de-bf88-4842-8a99-9d29f27e99e1",
      "name": "Pinecone Vector Store Agent",
      "credentials": {
        "pineconeApi": {
          "id": "hyAafpB2uxTcLFbV",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "MergeLogic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "MergeLogic": {
      "main": [
        [
          {
            "node": "Register Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Conversation": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchApi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Save Conversation": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model Agent": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI Agent": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store Agent",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store Agent": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "67bd57e4-00aa-4ac5-b450-52afd9025db0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "017cad2aeae0fda04337a520c836d090fb11e0642ac153763f89a467f058aafd"
  },
  "id": "jXr8IyBRUxdMtDgW",
  "tags": []
}